/* -----------------------------------------------------------------------------
 * Variables
 * -------------------------------------------------------------------------- */

/* Colours */
$background: #F8F8FA;
$text: #4A4A4A;
$link: #FE6A6B;
$link-hover: #B94B4C;
$code-bg: #F0E8E8;

/* Breakpoint */
$container: 960px;
$mobile: 700px;
$phone: 450px;

/* Fonts */
$font-title: 'Nunito Sans', sans-serif;
$font-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;

